# Google Gemini API Key (Obtenir gratuitement sur https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=

# OpenAI API Key (Optionnel si vous utilisez OpenAI)
OPENAI_API_KEY=

# Gmail SMTP Configuration
GMAIL_SENDER_EMAIL=mohammedhsiny2@gmail.com
GMAIL_APP_PASSWORD=
